@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 600;
    position: relative;
}

/* Header section */

#header {
    background: url(../img/background.jpg);
    height: 550px;
    width: 100%;
    opacity: .9;
}

#header {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
}

#header img {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

#header span {
    font-size: 72px;
    color: black;
    font-family: 'Indie Flower', cursive;
}

#header button {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    background: #c33f56;
    padding: 15px 40px;
    border: none;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.8s;
    cursor: pointer;
}

/* Offerings section */

#offers {
    display: grid;
    grid-template-rows: 150px 1fr;
    background: #e5e3d7;
    padding: 0 0 25px;
}


.offersBoxForTitle {
    color: #4d4d26;
    font-size: 28px;
    text-align: center;
    margin: 50px 0 0;
    text-transform: uppercase;
    line-height: 50px;
}

.offersBoxForFeatures {
    display: grid;
    grid-template-rows: 1fr; /* One row */
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    max-width: 1400px;
    margin: auto;
}

#offersBox1, #offersBox2, #offersBox3 {
    text-align: center;
    margin: auto;
    max-width: 60%;
}

#offersBox1 h2, #offersBox2 h2, #offersBox3 h2 {
    color: #4d4d26;
    padding: 15px 0 25px;
}

#offersBox1 p, #offersBox2 p, #offersBox3 p {
    font-size: 16px;
    color: #796e49;
}

/* Team Section */

#team {
    background: #e5e3d7;
    display: grid;
    grid-template-rows: 100px 1fr;
}

#team .offersBoxForTitle {
    margin: 5px auto !important;
    padding: 15px 0 50px;
}

.innerTeam {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.human {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 40px 25px 1fr;
    text-align: center;
    padding-bottom: 25px;
}

.human img {
    justify-self: center;
}

.human span:nth-child(2) {
    font-size: 14px;
    color: #64363e;
    padding-top: 5px;
    line-height: 2;
}

.human span:nth-child(3) {
    font-size: 20px;
    color: #4d4d26;
}
.human p {
    padding: 25px 0 0;
    max-width: 50%;
    margin: 0 auto;
    color: #796e49;
    font-weight: 400;
}

/* Between section */

#between .offersBoxForTitle {
    margin: 0;
    padding: 25px 0;
    background: #4d4d26;
    color: #e5e3d7;
}

/* Pricing section */

#pricing {
    background: #a8a592;
    padding: 50px 0;
}

.pricingInside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    max-width: 705px;
    margin: auto;
    text-align: center;
}

#pricingBoxLeft, #pricingBoxRight {
    background: #e5e3d7;
    margin: 10px 0;
    padding: 0 10px;
}

#pricingBoxMiddle {
    background: #3c2221;
    padding: 0 10px;
}

.pricingTitle {
    color: #4a3942;
    padding: 15px 0 0;
    font-size: 22px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

.pricingDuration {
    color: #64363e;
    font-size: 16px;
    padding: 15px 0 0;
    text-transform: uppercase;
}
.pricingPrice {
    font-size: 60px;
    color: #7a6f4a;
    padding: 25px 0;
}

.pricingDesc {
    line-height: 2;
    color: #7a6f4a;
    padding: 0 0 25px;
}

.pricingButton {
    border: none;
    background: #c33f56;
    padding: 15px 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

#pricingBoxMiddle .pricingTitle {
    padding-top: 15px;
}

#pricingBoxMiddle div {
    color: #e5e3d7 !important;
}

#pricingBoxMiddle p {
color: #c9c2b5;
}

/* Footer */

footer {
    text-align: center;
    font-size: 12px;
    color: #e5e3d7;
    background: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5px 0;
}
